services:
  gamer-challenges-db:
    image: postgres:latest
    container_name: gamer-challenges-db
    restart: always
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    volumes:
      - db_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DATABASE}"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - gamerchallenge-network
      # Référence au réseau Docker externe

  gamer-challenges-db-test:
    image: postgres:latest
    container_name: gamer-challenges-db-test
    restart: always
    env_file:
      - .env.test
    volumes:
      - db_data_test:/var/lib/postgresql
    ports:
      - "6000:5432"
      # Expose le port 6000 pour les tests puisque le port 5432 est déjà utilisé par la base de données principale
    networks:
      - gamerchallenge-network
      # Référence au réseau Docker externe
      
  gamer-challenges-api:
    image: node:22
    container_name: gamer-challenges-api
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "${PORT}:5000"
    environment:
      - NODE_ENV=development
      - PGHOST=gamer-challenges-db
      - PGPORT=${PG_PORT}
      - PGUSER=${PG_USER}
      - PGPASSWORD=${PG_PASSWORD}
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      gamer-challenges-db:
        condition: service_healthy
    command: ["npm", "run", "docker:start:dev"]
    restart: unless-stopped
    networks:
      - gamerchallenge-network
      # Référence au réseau Docker externe

  gamer-challenges-adminer:
    image: adminer:latest
    container_name: gamer-challenges-adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      gamer-challenges-db:
        condition: service_healthy
    networks:
      - gamerchallenge-network
      # Référence au réseau Docker externe

networks:
  gamerchallenge-network:
    external: true
# Si front et back tournent dans Docker, mais dans des projets différents,
# alors on doit créer un réseau Docker partagé entre les deux projets et y connecter les conteneurs.
# Pour créer un réseau Docker externe, on peut utiliser la commande suivante :
# docker network create <nom_du_reseau>
# Il faudra le créer une seule fois avant de lancer les conteneurs des deux projets.
# Pour vérifier les réseaux existants : docker network ls
# Pour vérifier quels sont les conteneurs connectés : docker network inspect <nom_du_reseau>
# Pour connecter un conteneur à un réseau existant : docker network connect <nom_du_reseau> <nom_du_conteneur>
# Supprimer un réseau : docker network rm <nom_du_reseau>
# il faudra avant de le supprimer, supprimer tous les conteneurs qui y sont connectés et leurs volumes associés, avec la commande :
# docker-compose down -v

volumes:
  db_data:
  db_data_test:

